.footer {
    background-color: $color-secondary-dark;
    height: 7rem;
    position: relative;

    &--text {
        @include absCenter;
        font-size: $default-font-size;
        font-weight: $light-weight;
    }
    &__copyright {
        color: $color-primary-dark;
    }
    &__author {
        color: $color-primary-light;
    }
}
