<section class="section-about" id="{{ site.data.home.sectionAboutTitle }}">
	<div class="u-center-text">
		<h2 class="heading-secondary u-center-margin u-margin-bottom-medium">
			{{ site.data.home.sectionAboutTitle }}
		</h2>

		<div class="profile">
			<div class="profile__container">
				<a
					target="_blank"
					rel="noopener"
					href="{{ site.data.home.linkedin }}"
				>
					<figure class="profile__shape">
						<picture>
							<source srcset="{{ site.data.home.profileImage |
							replace: "jpg", "webp" }} type="image/webp" />
							<source srcset="{{ site.data.home.profileImage }}
							type="image/jpeg" />
							<img
								alt="{{ site.data.home.author }}"
								class="profile__img"
								loading="lazy"
								src="{{ site.data.home.profileImage }}"
								width="150"
								height="150"
							/>
						</picture>

						<figcaption class="profile__caption">
							Linkedin
						</figcaption>
					</figure>
				</a>
				<div class="profile__text">
					<h3 class="heading-tertiary u-margin-bottom-small">
						{{ site.data.home.sectionAboutSubTitle }}
					</h3>
					{{ site.data.home.sectionAboutInfo | markdownify | strip }}
				</div>
			</div>
		</div>
	</div>
</section>
