<section class="section-about" id="{{ site.data.home.sectionAboutTitle }}">
	<div class="u-center-text">
		<h2 class="heading-secondary u-center-margin u-margin-bottom-medium">
			{{ site.data.home.sectionAboutTitle }}
		</h2>
		<div class="profile">
			<div class="profile__container">
				<figure class="profile__shape">
					<img
						alt="{{ site.data.home.author }}"
						class="profile__img"
						loading="lazy"
						src="{{ site.data.home.profileImage }}"
						width="150"
						height="150"
					/>
				</figure>
				<div class="profile__text">
					<h3 class="heading-tertiary u-margin-bottom-small">
						{{ site.data.home.sectionAboutSubTitle }}
					</h3>
					{{ site.data.home.sectionAboutInfo | markdownify | strip }}
				</div>
			</div>
		</div>
	</div>
</section>
