<section class="section-contact" id="contact">
    <div class="u-center-text">
        <h2
            class="heading-secondary heading-secondary--light u-center-margin u-margin-bottom-small"
        >
            Contact
        </h2>
        <h3 class="heading-tertiary text-white u-margin-bottom-small">
            Have a question or want to work together?
        </h3>
    </div>
    <form class="contact" data-netlify="true">
        <label class="contact__label" for="name">
            Your name
        </label>
        <input
            aria-label="You name"
            id="name"
            name="name"
            placeholder="First name"
            type="text"
        />
        <label class="contact__label" for="email">
            Your email address
        </label>
        <input
            aria-label="Your email address"
            id="email"
            name="email"
            placeholder="Email address"
            required
            type="email"
        />
        <label class="contact__label" for="message">
            Your message
        </label>
        <textarea
            aria-label="You message"
            id="message"
            name="message"
            placeholder="Message"
        ></textarea>
        <button
            class="btn btn--black btn--animated contact__btn"
            id="submit"
            type="submit"
            value="submit"
        >
            Submit
        </button>
    </form>
</section>
