---
---

<section class="section-projects" id="projects">
	<div class="u-center-text">
		<h2 class="heading-secondary u-center-margin u-margin-bottom-medium">
			{{ site.data.home.sectionProjectTitle }}
		</h2>
	</div>
	<div class="row">
		{% for item in site.data.projects.items %} {% assign projectName =
		item.projectName | replace_first: ' ', '' | downcase %}

		<div class="col-1-of-3">
			<div class="card">
				<div class="card__side card__side--front">
					<div class="card__picture card__picture--{{ projectName }}">
						&nbsp;
					</div>
					<h3 class="card__heading">
						<span
							class="card__heading-span card__heading-span--{{
								projectName
							}}"
							>{{ item.projectName }}</span
						>
					</h3>
					<div class="card__details">
						{{ item.body | markdownify }}
					</div>
				</div>
				<div
					class="card__side card__side--back card__side--back-{{
						projectName
					}}"
				>
					<div class="card__cta">
						{% if item.projectGithubRepo == true %}
						<a
							class="btn btn--white"
							href="{{ item.projectLiveLink }}"
							target="_blank"
							rel="noopener"
							>Github repo
						</a>
						{% else %}
						<a
							class="btn btn--white"
							href="{{ item.projectLiveLink }}"
							rel="noopener"
							target="_blank"
							>Visit website
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>

		{% endfor %}
	</div>
</section>
