<section class="section-projects" id="projects">
    <div class="u-center-text">
        <h2 class="heading-secondary u-center-margin u-margin-bottom-medium">
            Projects
        </h2>
    </div>
    <div class="row">
        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--1">
                        &nbsp;
                    </div>
                    <h3 class="card__heading">
                        <span class="card__heading-span card__heading-span--1"
                            >This Website!</span
                        >
                    </h3>
                    <div class="card__details">
                        <ul>
                            <li>HTML5/CSS3 (SASS)</li>
                            <li>Deployed using surge sh</li>
                            <li>Category: Personal</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-1">
                    <div class="card__cta">
                        <div class="card__price-box">
                            <a
                                class="btn btn--white"
                                href="https://github.com/adrianyadav/adrianyadav.com"
                                rel="noreferrer"
                                target="_blank"
                                >Github repo
                            </a>
                        </div>
                        <a class="btn btn--white" href="#">Visit website </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--2">
                        &nbsp;
                    </div>
                    <h3 class="card__heading">
                        <span class="card__heading-span card__heading-span--2"
                            >nib Travel</span
                        >
                    </h3>
                    <div class="card__details">
                        <ul>
                            <li>HTML5/CSS3 (SASS)</li>
                            <li>Nunjucks</li>
                            <li>Category: Work</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-2">
                    <div class="card__cta">
                        <a
                            class="btn btn--white"
                            href="http://www.nibtravel.com"
                            rel="noreferrer"
                            target="_blank"
                            >Visit site</a
                        >
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1-of-3">
            <div class="card">
                <div class="card__side card__side--front">
                    <div class="card__picture card__picture--3">
                        &nbsp;
                    </div>
                    <h3 class="card__heading">
                        <span class="card__heading-span card__heading-span--3"
                            >uPaged</span
                        >
                    </h3>
                    <div class="card__details">
                        <ul>
                            <li>React</li>
                            <li>Landing page</li>
                            <li>Category: Work</li>
                        </ul>
                    </div>
                </div>
                <div class="card__side card__side--back card__side--back-3">
                    <div class="card__cta">
                        <a
                            class="btn btn--white"
                            href="https://www.upaged.com"
                            rel="noreferrer"
                            target="_blank"
                            >Visit site
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
