<section class="section-features u-margin-top-huge">
	<div class="skills">
		<div class="skill skill--reverse">
			<h2
				class="heading-secondary heading-secondary--light u-center-margin u-margin-bottom-medium"
			>
				Skills
			</h2>
		</div>
		{% for item in site.data.skills.items %}
		<div class="skill">
			{% include icon.html class="skill__icon" icon=item.skillIcon %}
			<h3 class="skill__title heading-tertiary u-margin-bottom-small">
				{{ item.skillTitle }}
			</h3>
			<p class="skill__description">
				{{ item.skillDescription }}
			</p>
		</div>
		{% endfor %}
	</div>
</section>
