<head>
	<meta charset="utf-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	{% feed_meta %} {% seo title=false %}

	<link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}" />

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
	<link rel="manifest" href="/site.webmanifest" />

	{% if site.google_analytics %} {% include analytics.html %} {% endif %} {%
	if page.url contains 'part' %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>

	<script>
		hljs.initHighlightingOnLoad();
	</script>
	{% endif %}
	<title>
		{% if page.url == "/" %} {{ site.title }} {% else %} {{ page.title}} |
		Adrian Yadav | Developer, Sydney, AUS. {% endif %}
	</title>
</head>
