{% if page.url == "/" %}
<header class="header">
	<div class="header__text-box">
		<h1 class="heading-primary">
			<span class="heading-primary__main">
				{{ site.data.home.author }}
			</span>
		</h1>
		<a
			href="{{ site.data.home.mainButtonUrl }}"
			class="btn btn--white btn--animated"
			>{{ site.data.home.mainButtonText }}</a
		>
	</div>
</header>
{% else %}
<header class="header header--blog">
	<div class="header__text-box">
		<h1 class="post__title">
			<span class="heading-primary__main">
				{{ page.title | escape }}
			</span>
		</h1>

		{% if page.date %}

		<time
			datetime="{{ page.date | date: '%Y-%m-%d' }}"
			class="post__date post__date--light"
		>
			{{ page.date | date: site.date_format }}
		</time>

		{% endif %}
	</div>
</header>

{% endif %}
