<div class="navigation">
	<nav class="nav">
		<ul class="nav__list">
			{% for item in site.data.nav.items %}
			<li class="nav__item">
				<a
					class="nav__link btn hvr-sweep-to-right
                {% if page.url contains item.url
                  %}current
               {% endif %}"
					href="{{ site.relativeurl }}{{ item.url }}"
					>{{ item.title }}
				</a>
			</li>

			{% endfor %}
		</ul>
		<div class="nav__buttons">
					{% include icon.html class="icon--search hvr-bounce-in" icon="search"%}
		</div>
	</nav>
</div>

  {% include search.html %}