<div class="navigation">
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link btn btn--white" href="/#projects">Projects</a>
      </li>
      <li class="nav__item">
        {% if page.title == "blog" %}
          <a class="nav__link btn btn--white current" href="/blog">blog</a>
        {% else %}
          <a class="nav__link btn btn--white " href="/blog">blog
          </a>
        {% endif %}
      </li>
      <li class="nav__item">
        <a class="nav__link btn btn--white" href="/#contact">Contact</a>
      </li>
    </ul>
  </nav>
</div>
