body {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $default-font-color;
}

.heading-primary {
    font-size: 6rem;
    color: $color-white;
    font-weight: $light-weight;

    &__main {
        letter-spacing: 0.75rem;
    }
    @include respond(phone) {
        font-size: 4rem;
    }
}
.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: $light-weight;
    display: block;
    max-width: 20rem;
    &::after {
        content: "";
        display: block;
        border-bottom: 3px solid $default-font-color;
        transform: scaleX(0.8);
    }
    &--light {
        color: $color-white;
        &::after {
            content: "";
            display: block;
            border-bottom: 3px solid $color-white;
            transform: scaleX(0.8);
        }
    }
}

.heading-tertiary {
    font-size: 2.5rem;
    font-weight: $light-weight;
    @include respond(phone) {
        font-size: 1.5rem;
    }
}

.paragraph {
    font-size: $default-font-size;
    &:not(last-child) {
        margin-bottom: 2rem;
    }
}

.breadcrumb {
    margin-bottom: 2rem;
    text-align: center;
    &__link {
        &:link,
        &:visited {
            color: $color-primary;
        }
        &:hover,
        &:active {
            color: $color-secondary-dark2;
        }
    }
}

p {
    font-size: $default-font-size;
    &:not(last-child) {
        margin-bottom: 2rem;
    }
}

a {
    &:link,
    &:visited {
        color: $color-primary;
    }
    &:hover,
    &:active {
        color: $color-secondary-dark2;
    }
}

blockquote {
    font-size: 1.8rem;
    width: 100%;
    margin: 5rem auto;
    font-style: italic;
    padding: 1.2rem 3rem 1.2rem 7.5rem;
    border-left: 8px solid $color-secondary-dark2;
    line-height: 1.6;
    position: relative;

    &::before {
        font-family: Arial;
        content: "\201C";
        color: $color-secondary-dark2;
        font-size: 4em;
        position: absolute;
        left: 1rem;
        top: -1rem;
    }

    &::after {
        content: "";
    }

    span {
        display: block;
        font-style: normal;
        font-weight: bold;
        margin-top: 1rem;
    }
}
