/* Reset CSS */
/*  
0-600px: phone
600-900px: tablet portrait
900-1200: tablet landscape
1200-1800px:  is where our normal styles apply
1800px: big screen

*/
/*
- phone
- tab-port
- tab-land
- big-desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

img {
  width: 100%; }

ul,
ol {
  margin-bottom: 1.5rem;
  margin-left: 1.6rem; }
  ul li:not(:last-child),
  ol li:not(:last-child) {
    padding-bottom: 0.5rem; }

a:link {
  text-decoration: none; }

a:focus {
  outline: 3px solid #ffffff; }

blockquote {
  width: 100%;
  margin: 3rem auto;
  padding: 1.2rem 3rem 1.2rem 5.5rem;
  border-left: 8px solid #1e242c;
  line-height: 1.6;
  position: relative;
  background: #f7f7f7f7;
  margin-bottom: 3rem; }
  blockquote p {
    font-weight: 300;
    font-size: 1.9rem; }
  blockquote::before {
    font-family: Arial;
    content: '\201C';
    color: #1e242c;
    font-size: 4em;
    position: absolute;
    left: 1rem;
    top: -1rem; }
  blockquote::after {
    content: ''; }
  blockquote span {
    display: block;
    font-style: normal;
    font-weight: bold;
    margin-top: 1rem; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-sweep-to-right:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #07689f;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white; }

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.hvr-sweep-to-bottom:before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #07689f;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.hvr-sweep-to-bottom:hover,
.hvr-sweep-to-bottom:focus,
.hvr-sweep-to-bottom:active {
  color: white; }

.hvr-sweep-to-bottom:hover:before,
.hvr-sweep-to-bottom:focus:before,
.hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1); }

/* Bounce In */
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.hvr-bounce-in:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36); }

/* Bounce Out */
.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.u-center-text {
  text-align: center !important; }

.u-center-margin {
  margin: 0 auto; }

.u-padding-sml {
  padding: 1rem; }

.u-margin-bottom-none {
  margin-bottom: 0 !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.text-white {
  color: #ffffff; }

.content {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }
  .content p,
  .content h2,
  .content ul {
    max-width: 58rem; }

.hidden {
  display: none; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }

.overlay {
  opacity: 0.7; }

.two-col {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: column;
  grid-column-gap: 1rem;
  margin-bottom: 1rem; }
  @media (max-width: 37.5em) {
    .two-col {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      column-gap: 0; } }

/* roboto-100 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../fonts/roboto-v20-latin-100.woff2") format("woff2"), url("../fonts/roboto-v20-latin-100.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v20-latin-300.woff2") format("woff2"), url("../fonts/roboto-v20-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */ }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #3b3d41; }

.heading-primary {
  font-size: 6rem;
  color: #ffffff;
  font-weight: 100;
  letter-spacing: 0.75rem; }
  .heading-primary--blog {
    line-height: 7rem;
    font-size: 5.5rem;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    line-height: 1.5;
    text-transform: capitalize;
    margin-bottom: 1rem; }
  @media (max-width: 37.5em) {
    .heading-primary {
      font-size: 4rem;
      line-height: 6rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 100;
  display: block;
  max-width: 20rem;
  margin-bottom: 1.5rem; }
  .heading-secondary::after {
    content: '';
    display: block;
    border-bottom: 3px solid #3b3d41;
    transform: scaleX(0.8); }
  .heading-secondary--light {
    color: #ffffff; }
    .heading-secondary--light::after {
      content: '';
      display: block;
      border-bottom: 3px solid #ffffff;
      transform: scaleX(0.8); }

.heading-tertiary {
  font-size: 2.5rem;
  font-weight: 100; }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      font-size: 2rem; } }

.heading-text {
  font-size: 2.8rem;
  font-weight: 100;
  display: block;
  margin-bottom: 1.5rem;
  color: #ffffff; }

h2 {
  font-size: 3rem;
  font-weight: 300;
  display: block;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  line-height: 140%; }
  @media (max-width: 56.25em) {
    h2 {
      font-size: 2.5rem; } }

.paragraph,
p {
  font-size: 1.8rem; }
  .paragraph:not(last-child),
  p:not(last-child) {
    margin-bottom: 1.5rem; }

a:link, a:visited {
  color: #07689f; }

a:hover, a:active {
  color: #1e242c; }

.highlight {
  color: #07689f; }

.profile {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 0.3rem;
  padding: 7rem;
  font-size: 1.8rem;
  transform: skewX(-12deg);
  position: relative; }
  @media (max-width: 56.25em) {
    .profile {
      width: 100%;
      padding: 4rem;
      transform: skewX(0); } }
  @media (max-width: 37.5em) {
    .profile {
      width: 100%;
      padding: 4rem; } }
  .profile__container {
    margin: 0 auto;
    display: block; }
  .profile__shape {
    width: 20rem;
    height: 20rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateY(-2rem) skewX(12deg);
    position: relative;
    overflow: hidden;
    z-index: 1; }
    @media (max-width: 56.25em) {
      .profile__shape {
        left: 50%;
        transform: translate(-50%, -10%) skewX(0); } }
  .profile__img {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: all 0.5s; }
  .profile__text {
    transform: skewX(12deg);
    z-index: -1; }
    @media (max-width: 56.25em) {
      .profile__text {
        transform: skewX(0);
        clear: both; } }

.profile:hover .profile__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.profile:hover .profile__img {
  -webkit-transform: translateX(-4rem) scale(1);
  transform: scale(1);
  filter: brightness(60%); }

.profile__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 20%);
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.post,
.content {
  max-width: 78rem;
  width: 100%;
  font-size: 1.8rem;
  position: relative;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: 0 auto;
  margin-bottom: 3rem; }
  .post p,
  .post h2,
  .post ul,
  .content p,
  .content h2,
  .content ul {
    max-width: 58rem; }
  .post__title,
  .content__title {
    font-size: 4rem;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    line-height: 1.5;
    text-transform: capitalize; }
    @media (max-width: 56.25em) {
      .post__title,
      .content__title {
        font-size: 3rem; } }
    .post__title a:link,
    .post__title a:visited,
    .content__title a:link,
    .content__title a:visited {
      font-size: 4rem;
      font-weight: 300;
      color: #07689f;
      text-decoration: none; }
      .post__title a:link a:hover,
      .post__title a:visited a:hover,
      .content__title a:link a:hover,
      .content__title a:visited a:hover {
        color: #3f76a3; }
  .post__sub-title,
  .content__sub-title {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem; }
    @media (max-width: 37.5em) {
      .post__sub-title,
      .content__sub-title {
        font-size: 1.5rem; } }
  .post__date,
  .content__date {
    display: block;
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.6rem; }
    .post__date--light,
    .content__date--light {
      color: #ffffff;
      font-size: 2rem;
      text-transform: uppercase;
      margin-bottom: 1.5rem; }
      @media (max-width: 56.25em) {
        .post__date--light,
        .content__date--light {
          font-size: 1.6rem; } }
  .post__excerpt,
  .content__excerpt {
    font-size: 1.8rem;
    margin-bottom: 2rem; }
  .post__comments,
  .content__comments {
    margin-bottom: 1.5rem; }

/*
   Comments
   ========================================================================== */
.post__comments-form.disabled input,
.post__comments-form.disabled button,
.post__comments-form.disabled textarea,
.post__comments-form.disabled label {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: 0.65; }

.post__comments-form .js-notice {
  font-size: 0.8rem; }

.comment {
  display: grid;
  grid-template-columns: min-content auto;
  column-gap: 2rem; }

.comment__avatar {
  width: 50px;
  height: 50px;
  border-radius: 5px; }

.comment__author {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-column-gap: 0.5rem;
  align-items: center; }
  .comment__author-text {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: #3b3d41; }
    @media (max-width: 37.5em) {
      .comment__author-text {
        font-size: 2rem; } }

.comment__date-text {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  color: #3b3d41;
  text-transform: capitalize; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 52rem; }
  .card__side {
    height: 52rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    overflow: hidden; }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-adrianyadav {
        background-image: linear-gradient(to right bottom, rgba(162, 213, 242, 0.85), rgba(7, 104, 159, 0.85)); }
      .card__side--back-nibtravel {
        background-image: linear-gradient(to right bottom, #aecd8b, #16954a); }
      .card__side--back-upaged {
        background-image: linear-gradient(to right bottom, #193363, #ffffff); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem; }
    .card__picture--adrianyadav {
      background-image: linear-gradient(to right bottom, #a2d5f2, #07689f), url("../img/hero-unsplash-1x.jpg"); }
    .card__picture--nibtravel {
      background-image: linear-gradient(to right bottom, #aecd8b, #16954a), url("../img/nibtravel.jpg"); }
    .card__picture--upaged {
      background-image: linear-gradient(to right bottom, #193363, #193363), url("../img/upaged.jpg"); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 100;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 70%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone; }
    .card__heading-span--adrianyadav {
      background-image: linear-gradient(to right bottom, rgba(162, 213, 242, 0.85), rgba(7, 104, 159, 0.85)); }
    .card__heading-span--nibtravel {
      background-image: linear-gradient(to right bottom, #aecd8b, #16954a); }
    .card__heading-span--upaged {
      background-image: linear-gradient(to right bottom, rgba(25, 51, 99, 0.95), rgba(25, 51, 99, 0.8)); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 0.1rem solid #eeeeee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center; }
  .card__button-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #ffffff; }
  @media (max-width: 56.25em) {
    .card {
      position: relative;
      height: auto;
      border-radius: 3px;
      background-color: #ffffff;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
      .card__side {
        height: auto;
        position: relative;
        box-shadow: none; }
        .card__side--back {
          transform: rotateY(0);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%); }
      .card__details {
        padding: 1rem 3rem; }
      .card:hover .card__side--front {
        transform: rotateY(0); }
      .card__cta {
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0);
        width: 100%;
        padding: 7rem 4rem 4rem 4rem; } }

.contact {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  @media (max-width: 37.5em) {
    .contact {
      width: 70%; } }
  .contact__label {
    display: block;
    text-transform: uppercase;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    color: #ffffff;
    margin-bottom: 0.7rem; }
  .contact__btn {
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    font-weight: 100; }
    .contact__btn:focus {
      outline: 3px solid #07689f; }
  .contact__input, .contact__textarea {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 100%;
    outline: none;
    padding: 1rem 1.5rem;
    border-width: 0;
    margin-bottom: 1rem;
    background: #1e242c;
    font-size: 1.8rem;
    font-weight: 100;
    color: #ffffff;
    transition: all 0.3s cubic-bezier(0.47, 0, 0.745, 0.715); }
    .contact__input:focus, .contact__textarea:focus {
      color: #1e242c;
      background-color: white;
      outline: 3px solid #07689f; }
      .contact__input:focus::placeholder, .contact__textarea:focus::placeholder {
        color: #1e242c;
        font-weight: 300; }
    .contact__input::placeholder, .contact__textarea::placeholder {
      color: rgba(255, 255, 255, 0.6);
      font-weight: 300; }
    @media (max-width: 37.5em) {
      .contact__input, .contact__textarea {
        margin: 0.3rem auto; } }
  .contact__textarea {
    min-height: 10rem;
    margin-bottom: 1rem; }

.form__field {
  display: flex; }
  @media (max-width: 37.5em) {
    .form__field {
      display: block; } }

.form__label {
  display: block;
  margin-bottom: 0.7rem; }

.form__input {
  color: #1e242c;
  background-color: #f7f7f7f7 !important;
  margin-bottom: 0rem;
  max-width: 42rem; }
  @media (max-width: 37.5em) {
    .form__input {
      width: 100%;
      margin-bottom: 1rem; } }
  .form__input:focus, .form__input:active {
    background-color: #f7f7f7f7 !important;
    outline: 3px solid #07689f; }

.form__textarea {
  color: #1e242c;
  background-color: #f7f7f7f7; }
  .form__textarea:focus, .form__textarea:active {
    background-color: #f7f7f7f7 !important;
    outline: 3px solid #07689f; }

.form__submit {
  display: inline-block;
  margin-left: 1rem; }
  .form__submit:focus {
    outline: 3px solid #07689f; }
  @media (max-width: 37.5em) {
    .form__submit {
      margin-left: 0;
      margin-bottom: 1rem;
      width: 100%; } }

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 30.5rem;
  background: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  overflow: hidden; }
  @media (max-width: 56.25em) {
    .skill {
      padding: 2rem; } }
  @media (max-width: 37.5em) {
    .skill {
      height: auto; } }
  .skill__text {
    flex-grow: 1; }
  .skill:hover {
    transform: translateY(0rem);
    background: rgba(3, 63, 99, 0.7); }
    .skill:hover .skill__icon,
    .skill:hover .skill__title,
    .skill:hover .skill__description {
      color: #ffffff;
      fill: #ffffff; }
  .skill:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 0%;
    transform: rotate(-50deg) translateX(-50%);
    transform-origin: top left;
    background: rgba(3, 63, 99, 0.7);
    z-index: -1; }
  .skill:hover::after {
    height: 150%;
    transform: rotate(-50deg) translateX(-50%);
    transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  font-size: 1.8rem;
  border: none;
  cursor: pointer;
  font-weight: 100;
  background-color: white;
  color: #1b242f;
  padding: 1.5rem 4rem;
  margin-left: 0; }

.btn:hover, .btn:active, .btn:focus {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
  outline: none;
  box-shadow: none;
  background-color: #07689f;
  color: #ffffff;
  transform: translateY(0) scale(1.05); }
  .btn:hover::after, .btn:active::after, .btn:focus::after {
    opacity: 0; }

.btn::after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  background-color: white; }

.btn--basic, .btn--basic:link, .btn--basic:visited {
  color: #1e242c;
  font-weight: 300;
  border-bottom: 1px solid #1e242c;
  padding: 0; }

.btn--basic:hover {
  transform: scale(1.1);
  color: #1e242c;
  background-color: unset; }

.btn--dark {
  background-color: #1e242c;
  color: #ffffff;
  padding: 1.5rem 4rem;
  transition: all 0.4s; }
  .btn--dark::after {
    background-color: #1e242c;
    color: #ffffff; }
  .btn--dark:hover, .btn--dark:active, .btn--dark:focus {
    outline: none;
    box-shadow: none;
    background-color: white;
    color: #1b242f;
    transform: translateY(0) scale(1.05); }

.btn--reverse {
  background-color: #07689f;
  color: #ffffff; }
  .btn--reverse:hover, .btn--reverse:active, .btn--reverse:focus {
    background-color: white;
    color: #1b242f;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1); }

.btn--animated {
  animation: 0.5s ease-out 0.75s moveInBottom;
  animation-fill-mode: backwards; }

.skill .icon {
  margin-top: 0;
  margin-bottom: 2rem; }

.icon {
  width: 6rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  fill: url(#gradient-horizontal) #07689f;
  -webkit-background-clip: text; }
  .icon--center {
    margin-left: auto;
    margin-right: auto; }
  .icon--menu {
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    fill: #1e242c;
    margin-top: 1rem;
    margin-left: 1.5rem; }
    @media (max-width: 37.5em) {
      .icon--menu {
        float: right;
        margin-right: 1.5rem; } }
  .icon--close-search, .icon--close-menu {
    fill: #033f63;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: -15px;
    cursor: pointer; }
  .icon--close-menu {
    position: absolute;
    right: 3.5rem;
    top: 1.5rem; }
  .icon--search {
    float: right;
    margin-top: 1rem;
    margin-right: 1.5rem;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    fill: #033f63; }
    @media (max-width: 37.5em) {
      .icon--search {
        float: left;
        margin-left: 1.5rem; } }
  .icon--logo {
    fill: #ffffff;
    width: 10rem;
    margin-bottom: 0;
    transition: fill 0.25s ease-in; }
    .icon--logo:hover {
      fill: #07689f; }

#gradient-horizontal {
  --color-primary-dark: #3f76a3;
  --color-primary: #a2d5f2; }

/* ==========================================================================
   NOTICE TEXT BLOCKS
   ========================================================================== */
/**
 * Default Kramdown usage (no indents!):
 * <div class="notice" markdown="1">
 * #### Headline for the Notice
 * Text for the notice
 * </div>
 */
/* default notice */
.notice {
  margin: 2em 0;
  padding: 2rem;
  background-color: #e6f0f5; }
  .notice h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
    line-height: 1 !important; }
  .page-content .notice h4 {
    /* using at-root to override .page-content h4 font size */
    margin-bottom: 0;
    font-size: 1rem; }
  .page-content .notice a {
    border-bottom-width: 2px;
    box-shadow: none !important; }
    .page-content .notice a:hover {
      background-color: transparent !important; }
  .notice p {
    margin-bottom: 0; }
    .notice p a {
      border-bottom: 1px solid #83b4cf !important; }
  .notice h4 + p {
    /* remove space above paragraphs that appear directly after notice headline */
    margin-top: 0;
    padding-top: 0; }
  .notice code {
    background-color: #b5d2e2; }

/* info notice */
.notice--info {
  margin: 2em 0;
  padding: 2rem;
  background-color: #ecf1f6; }
  .notice--info h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
    line-height: 1 !important; }
  .page-content .notice--info h4 {
    /* using at-root to override .page-content h4 font size */
    margin-bottom: 0;
    font-size: 1rem; }
  .page-content .notice--info a {
    border-bottom-width: 2px;
    box-shadow: none !important; }
    .page-content .notice--info a:hover {
      background-color: transparent !important; }
  .notice--info p {
    margin-bottom: 0; }
    .notice--info p a {
      border-bottom: 1px solid #a2b9d4 !important; }
  .notice--info h4 + p {
    /* remove space above paragraphs that appear directly after notice headline */
    margin-top: 0;
    padding-top: 0; }
  .notice--info code {
    background-color: #c7d5e5; }

/* warning notice */
.notice--warning {
  margin: 2em 0;
  padding: 2rem;
  background-color: #fbf7e8; }
  .notice--warning h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
    line-height: 1 !important; }
  .page-content .notice--warning h4 {
    /* using at-root to override .page-content h4 font size */
    margin-bottom: 0;
    font-size: 1rem; }
  .page-content .notice--warning a {
    border-bottom-width: 2px;
    box-shadow: none !important; }
    .page-content .notice--warning a:hover {
      background-color: transparent !important; }
  .notice--warning p {
    margin-bottom: 0; }
    .notice--warning p a {
      border-bottom: 1px solid #edd58e !important; }
  .notice--warning h4 + p {
    /* remove space above paragraphs that appear directly after notice headline */
    margin-top: 0;
    padding-top: 0; }
  .notice--warning code {
    background-color: #f4e6bb; }

/* success notice */
.notice--success {
  margin: 2em 0;
  padding: 2rem;
  background-color: #ebf8f0; }
  .notice--success h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
    line-height: 1 !important; }
  .page-content .notice--success h4 {
    /* using at-root to override .page-content h4 font size */
    margin-bottom: 0;
    font-size: 1rem; }
  .page-content .notice--success a {
    border-bottom-width: 2px;
    box-shadow: none !important; }
    .page-content .notice--success a:hover {
      background-color: transparent !important; }
  .notice--success p {
    margin-bottom: 0; }
    .notice--success p a {
      border-bottom: 1px solid #99dcb5 !important; }
  .notice--success h4 + p {
    /* remove space above paragraphs that appear directly after notice headline */
    margin-top: 0;
    padding-top: 0; }
  .notice--success code {
    background-color: #c2ead3; }

/* danger notice */
.notice--danger {
  margin: 2em 0;
  padding: 2rem;
  background-color: #f9e7e9; }
  .notice--danger h4 {
    margin-top: 0 !important;
    margin-bottom: 0.75em;
    line-height: 1 !important; }
  .page-content .notice--danger h4 {
    /* using at-root to override .page-content h4 font size */
    margin-bottom: 0;
    font-size: 1rem; }
  .page-content .notice--danger a {
    border-bottom-width: 2px;
    box-shadow: none !important; }
    .page-content .notice--danger a:hover {
      background-color: transparent !important; }
  .notice--danger p {
    margin-bottom: 0; }
    .notice--danger p a {
      border-bottom: 1px solid #e38992 !important; }
  .notice--danger h4 + p {
    /* remove space above paragraphs that appear directly after notice headline */
    margin-top: 0;
    padding-top: 0; }
  .notice--danger code {
    background-color: #eeb8bd; }

/* Search */
.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scale(0.95);
  opacity: 0;
  background: #fff;
  transition: all 0.25s ease; }
  .search.is-visible {
    transform: scale(1);
    z-index: 100;
    opacity: 1;
    transition: all 0.25s ease; }

.search__box {
  width: 60%;
  margin: 0 auto;
  padding-top: 250px; }
  @media only screen and (max-width: 56.25em) {
    .search__box {
      width: 100%;
      padding-top: 100px; } }

.search__group {
  position: relative;
  margin-bottom: 30px; }
  .search__group .search__close {
    position: absolute;
    right: 0;
    top: 17px;
    font-size: 25px;
    cursor: pointer; }
  .search__group .search__text {
    font-family: "Roboto", sans-serif;
    width: 100%;
    padding: 20px 20px 20px 0;
    font-size: 3.5rem;
    line-height: 40px;
    border: none;
    border-bottom: 3px solid #033f63;
    color: #777777; }
    .search__group .search__text:focus {
      color: inherit;
      outline: 0; }
    .search__group .search__text::placeholder {
      font-weight: 300;
      color: #999; }
    .search__group .search__text::-ms-clear {
      display: none; }

.search-results-list {
  height: 55vh;
  margin: 0 0 0 -5px;
  padding: 0 0 25px 25px;
  list-style: decimal;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  color: #777777;
  overflow: auto;
  white-space: normal; }
  .search-results-list .search-results__item {
    padding: 0 0 0 5px;
    margin-bottom: 10px; }
  .search-results-list .search-results__link {
    display: block;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 3px;
    color: #777777;
    background: #f7f7f7f7;
    text-decoration: none;
    transition: all 0.3s;
    overflow: hidden; }
    .search-results-list .search-results__link:hover {
      background: rgba(3, 63, 99, 0.7);
      transform: translateY(0rem);
      color: #ffffff; }
    .search-results-list .search-results__link:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 200%;
      height: 0%;
      transform: rotate(-50deg) translateX(-50%);
      transform-origin: top left;
      background: rgba(3, 63, 99, 0.7);
      z-index: -1; }
    .search-results-list .search-results__link:hover::after {
      height: 900%;
      transform: rotate(-50deg) translateX(-50%);
      transition: all 1s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .search-results-list .no-results {
    list-style: none;
    margin-left: -20px;
    font-size: 16px;
    font-weight: 400;
    color: #777777; }

.header {
  background-size: cover;
  background-position: center;
  position: relative;
  height: 95vh;
  width: auto;
  clip-path: polygon(0 0, 100% 20vh, 100% 75vh, 0 100%);
  background-image: linear-gradient(to right bottom, rgba(3, 63, 99, 0.75), rgba(63, 118, 163, 0.85)), url(../../img/hero-unsplash-1x.jpg); }
  .header--blog {
    height: 67vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-image: linear-gradient(to right bottom, rgba(3, 63, 99, 0.75), rgba(63, 118, 163, 0.85)), url(../../img/contact-unsplash.jpg);
    z-index: 2; }
  @media (min-width: 1600px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(7, 104, 159, 0.85), rgba(162, 213, 242, 0.85)), url(../../img/hero-unsplash-2x.jpg); } }
  @media (min-width: 3000px) {
    .header {
      background-image: linear-gradient(to right bottom, rgba(7, 104, 159, 0.85), rgba(162, 213, 242, 0.85)), url(../../img/hero-unsplash-3x.jpg); } }
  .header__text-box {
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: left;
    max-width: 78rem;
    width: 100%;
    margin: 0 auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem; }
    .header__text-box .heading-primary {
      margin-bottom: 1.5rem; }
      .header__text-box .heading-primary--blog {
        margin-bottom: 1rem; }

@media (max-width: 37.5em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
    height: 55vh; }
    .header--blog {
      clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
      height: 50vh; }
    .header__text-box {
      width: 100%;
      padding: 2rem; }
      .header__text-box > h1 {
        margin-bottom: 1.5rem; } }

.navigation {
  position: fixed;
  display: block;
  float: right;
  height: 6rem;
  width: 100%;
  z-index: 10; }
  .navigation.navigation--active {
    right: 0; }
    @media (max-width: 37.5em) {
      .navigation.navigation--active .nav__buttons {
        background: none;
        position: initial;
        right: 0; } }
    .navigation.navigation--active .icon--close-menu {
      opacity: 1;
      visibility: visible; }
    .navigation.navigation--active .icon--menu {
      opacity: 0;
      visibility: hidden; }
    .navigation.navigation--active .icon--search {
      display: none; }
    .navigation.navigation--active .icon--close-search {
      fill: #1e242c;
      position: absolute;
      right: 40px;
      top: 13px; }
  .navigation .icon--close-menu {
    opacity: 0;
    visibility: hidden; }
  .navigation .icon--menu {
    opacity: 0;
    visibility: hidden; }
    @media (max-width: 37.5em) {
      .navigation .icon--menu {
        opacity: 1;
        visibility: visible; } }
  @media (max-width: 37.5em) {
    .navigation {
      position: fixed;
      top: 0;
      left: inherit;
      right: -300px;
      bottom: 0;
      transform: none;
      z-index: 100;
      width: 300px;
      height: 100vh;
      transition: right 0.5s cubic-bezier(0.7, 0.4, 0, 1);
      background: #fff; } }
  .navigation .nav {
    position: relative;
    height: 5rem; }
    .navigation .nav__list {
      list-style-type: none;
      margin-left: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
      @media (max-width: 56.25em) {
        .navigation .nav__list {
          width: 32rem;
          margin: 0 auto;
          display: block; } }
      @media (max-width: 37.5em) {
        .navigation .nav__list {
          width: 30rem;
          top: 13rem; } }
    @media (max-width: 37.5em) {
      .navigation .nav__buttons {
        position: absolute;
        background: rgba(3, 63, 99, 0.4);
        right: 300px;
        width: 100vw;
        display: flex;
        justify-content: space-between; }
        .navigation .nav__buttons .icon--menu,
        .navigation .nav__buttons .icon--search {
          fill: #ffffff; } }
    .navigation .nav__item {
      text-align: center;
      display: inline;
      padding: 0; }
    .navigation .nav__link {
      font-size: 1.7rem;
      color: #3b3d41;
      text-decoration: none;
      padding: 1rem 1.5rem;
      margin-left: 0.5rem;
      transition: all 0.3s;
      box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
      letter-spacing: 0.05rem; }
      .navigation .nav__link.nav__link--menu {
        display: none; }
        @media (max-width: 37.5em) {
          .navigation .nav__link.nav__link--menu {
            text-transform: capitalize;
            font-weight: 100;
            color: #777777;
            z-index: 1;
            position: relative;
            display: inline-block; }
            .navigation .nav__link.nav__link--menu:after {
              content: '';
              border-bottom: 2px solid #f7f7f7f7;
              background: inherit;
              height: 100%;
              width: 80%;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
            .navigation .nav__link.nav__link--menu:hover {
              box-shadow: initial;
              background-color: initial;
              color: initial;
              transform: initial; } }
      @media (max-width: 37.5em) {
        .navigation .nav__link {
          box-shadow: none;
          text-align: left;
          width: 100%;
          padding-left: 4rem;
          text-transform: capitalize;
          font-weight: 300;
          color: #777777;
          margin-left: 0; }
          .navigation .nav__link:not(last-child) {
            margin-bottom: 0.5rem; } }
      .navigation .nav__link:hover, .navigation .nav__link:focus, .navigation .nav__link:active {
        box-shadow: none;
        background-color: #07689f;
        color: #ffffff;
        transform: translateY(0) scale(1); }
  .navigation .current {
    box-shadow: none;
    background-color: #07689f;
    color: #ffffff;
    transform: translateY(0); }
    .navigation .current::after {
      background-color: #07689f; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^='col-']:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^='col-'] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 *6rem); }

.footer {
  display: flex;
  position: relative;
  background: #333; }
  .footer__content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.8rem;
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 0; }
  .footer__links {
    list-style-type: none;
    margin-bottom: 0; }
    .footer__links a {
      color: #ffffff;
      transition: all 0.3s; }
      .footer__links a:hover {
        text-decoration: underline; }
  .footer__copyright {
    color: #ffffff; }
  .footer__author {
    color: #ffffff; }

.section {
  padding: 2.5rem 0; }
  @media (max-width: 56.25em) {
    .section {
      padding: 1.25rem 0; } }

.section-about {
  padding: 8rem 0; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 4rem 0; } }

.section-features {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(7, 104, 159, 0.85), rgba(162, 213, 242, 0.85)), url(../../img/skills-unsplash-1x.jpg);
  background-size: cover;
  transform: skewY(-8deg);
  margin-top: -10rem; }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }
  @media (min-width: 1600px) {
    .section-features {
      background-image: linear-gradient(to right bottom, rgba(7, 104, 159, 0.85), rgba(162, 213, 242, 0.85)), url(../../img/skills-unsplash-2x.jpg); } }

.section-features > * {
  -webkit-transform: skewY(8deg);
  transform: skewY(8deg); }

.section-projects {
  padding: 10rem 0; }
  @media (max-width: 56.25em) {
    .section-projects {
      padding: 5rem 0; } }

.section-contact {
  background-image: linear-gradient(to right bottom, rgba(7, 104, 159, 0.9), rgba(162, 213, 242, 0.9)), url(../../img/contact-unsplash.jpg);
  background-image: linear-gradient(to right bottom, rgba(7, 104, 159, 0.9), rgba(162, 213, 242, 0.9)), url(../../img/contact-unsplash.jpg);
  position: relative;
  padding: 10rem 0;
  background-size: cover; }
  @media (max-width: 56.25em) {
    .section-contact {
      padding: 10rem 0; } }

/*
github.com style (c) Vasily Polovnyov <vast@whiteants.net>
*/
pre {
  margin-left: -5rem;
  padding: 3rem;
  margin-bottom: 3.5rem;
  background: #f8f8f8;
  overflow-x: scroll;
  font-family: 'Fira Mono', Monaco, 'Courier New', 'Courier', monospace; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8; }

.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #333;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #008080; }

.hljs-string,
.hljs-doctag {
  color: #d14; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #000080;
  font-weight: normal; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
