.post,
.content {
	max-width: 78rem;
	width: 100%;
	font-size: $default-font-size;
	position: relative;
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	margin: 0 auto;
	margin-bottom: 3rem;

	p,
	h2,
	ul {
		max-width: 58rem;
	}

	&__title {
		font-size: 4rem;
		font-weight: $medium-weight;
		color: $color-white;
		text-decoration: none;
		line-height: 1.5;
		text-transform: capitalize;

		@include respond(tab-port) {
			font-size: 3rem;
		}
		a:link,
		a:visited {
			font-size: 4rem;
			font-weight: $medium-weight;
			color: $color-primary;
			text-decoration: none;

			a:hover {
				color: $color-primary-dark;
			}
		}
	}

	&__sub-title {
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 1rem;
		@include respond(phone) {
			font-size: 1.5rem;
		}
	}

	&__date {
		display: block;
		margin-bottom: 2rem;
		font-weight: $medium-weight;
		font-size: 1.6rem;

		&--light {
			color: $color-white;
			font-size: 2rem;
			text-transform: uppercase;
			margin-bottom: 1.5rem;
			@include respond(tab-port) {
				font-size: 1.6rem;
			}
		}
	}
	&__excerpt {
		font-size: $default-font-size;
		margin-bottom: 2rem;
	}
}
