.contact {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	position: relative;

	@include respond(phone) {
		width: 70%;
	}

	&__label {
		display: block;
		text-transform: uppercase;
		margin-top: 0.5rem;
		font-size: 1.3rem;
		color: $color-white;
		margin-bottom: 0.7rem;
	}

	&__btn {
		float: right;
		font-family: 'Roboto', sans-serif;
		font-size: $default-font-size;
		font-weight: $light-weight;
	}

	&__input,
	&__textarea {
		font-family: 'Roboto', sans-serif;
		display: block;
		width: 100%;
		outline: none;
		padding: 1rem 1.5rem;
		border-width: 0;
		margin-bottom: 1rem;
		background: $color-secondary-dark2;
		font-size: $default-font-size;
		font-weight: $light-weight;
		color: $color-white;
		transition: $easeInSine;

		&:focus {
			color: $color-secondary-dark2;
			background-color: white;
			outline: 0;

			&::placeholder {
				color: $color-secondary-dark2;
				font-weight: $medium-weight;
			}
		}

		&::placeholder {
			color: rgba($color-white, 0.6);
			font-weight: $medium-weight;
		}

		@include respond(phone) {
			margin: 0.3rem auto;
		}
	}

	&__textarea {
		min-height: 10rem;
		margin-bottom: 1rem;
	}
}

.subscribe {
	&__field {
		display: flex;
	}
	&__input {
		display: inline-block;
		background-color: $color-grey-light-1;
		margin-bottom: 0rem;
		max-width: 42rem;

		&:focus,
		&:active {
			// override autofill-selected
			background-color: $color-grey-light-1 !important;
			outline: 3px solid $color-primary;
		}
	}

	&__submit {
		display: inline-block;
		margin-left: 1rem;
	}
}
