.icon {
	width: 6rem;
	margin-bottom: 2rem;
	display: inline-block;
	fill: url(#gradient-horizontal) $color-primary;
	-webkit-background-clip: text;

	&--center {
		margin-left: auto;
		margin-right: auto;
	}
}

#gradient-horizontal {
	--color-primary-light: #07689f;
	--color-primary: #a2d5f2;
}
