---
layout: default
---

{%- include header-blog.html -%}

<div class="section" id="blog">
	{%- if site.posts.size > 0 -%} {%- for post in site.posts -%}
	<article class="post">
		<div class="u-center-margin text-readability ">
			<h2>
				<a href="{{ post.url | relative_url }}" class="post__title">
					{{ post.title | escape }}
				</a>
			</h2>
			<time
				datetime="{{ post.date | date: '%Y-%m-%d' }}"
				class="post__date post__date--dark"
			>
				{{ post.date | date: '%d %b %Y' }}
			</time>
			{%- assign date_format = site.minima.date_format | default: "%d %b
			%Y" -%}
		</div>
	</article>

	{%- endfor -%} {%- endif -%}
</div>
