---
layout: default
---

{%- include header-blog.html -%}

<div class="section" id="blog">
	{%- if site.posts.size > 0 -%} {%- for post in site.posts -%}
	<article class="blog">
		<div class="u-center-margin ">
			<time
				datetime="{{ post.date | date: '%Y-%m-%d' }}"
				class="blog__date"
			>
				{{ post.date | date: '%d %b %Y' }}
			</time>
			<h2>
				<a href="{{ post.url | relative_url }}" class="blog__title">
					{{ post.title | escape }}
				</a>
			</h2>
			{%- assign date_format = site.minima.date_format | default: "%d %b
			%Y" -%}

			<p class="blog__intro">
				{{ post.excerpt }}
			</p>
			<a href="{{ post.url | relative_url }}" class="btn btn--white"
				>Read more</a
			>
		</div>
	</article>

	{%- endfor -%} {%- endif -%}
</div>
