---
layout: default
---

<article class="post section" id="post">
	<div class="u-center-margin content u-margin-bottom-medium">
		{{ content }} {% if site.disqus-identifier %} {% include
		disqus-comments.html %} {% endif %}
	</div>
<script async data-uid="c46e20bcc9" src="https://thoughtful-experimenter-8137.ck.page/c46e20bcc9/index.js"></script>

	<form novalidate="" action="https://app.convertkit.com/forms/1211852/subscriptions" method="post">
		<input type="hidden" name="fields[url]" value="/articles/building-an-accessible-autocomplete-control/">
		<label for="email_address" class="subscribeForm-label">Your email address</label>
		<div class="subscribeForm-field"><input type="email" name="email_address" id="email_address" class="subscribeForm-email"><input class="subscribeForm-button" type="submit" value="Join now" name="subscribe"></div>
	</form>
	</div>
</article>
