.footer {
	height: 7rem;
	position: relative;
	background: $color-gray-dark-3;

	&--text {
		@include absCenter;
		font-size: $default-font-size;
		font-weight: $light-weight;
		color: $color-white;
	}
	&__copyright {
		color: $color-white;
	}
	&__author {
		color: $color-white;
	}
}
