.header {
	background-size: cover;
	background-position: center;
	position: relative;
	height: 95vh;
	width: auto;
	clip-path: polygon(0 0, 100% 20vh, 100% 75vh, 0 100%);
	&--blog {
		height: 55vh;
		clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
		background-image: linear-gradient(
				to right bottom,
				rgba($color-primary, 0.85),
				rgba($color-primary-light, 0.85)
			),
			url(../../img/contact-unsplash.jpg);
		z-index: 2;
	}
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary, 0.85),
			rgba($color-primary-light, 0.85)
		),
		url(../../img/hero-unsplash-1x.jpg);

	@media (min-width: 1600px) {
		background-image: linear-gradient(
				to right bottom,
				rgba($color-primary, 0.85),
				rgba($color-primary-light, 0.85)
			),
			url(../../img/hero-unsplash-2x.jpg);
	}

	@media (min-width: 3000px) {
		background-image: linear-gradient(
				to right bottom,
				rgba($color-primary, 0.85),
				rgba($color-primary-light, 0.85)
			),
			url(../../img/hero-unsplash-3x.jpg);
	}

	&__text-box {
		@include absCenter;
		top: 47.5%;
		text-align: center;
		width: 100%;

		.heading-primary {
			margin-bottom: 1.5rem;
			&--blog {
				margin-bottom: 0;
			}
		}
	}
}

@include respond(phone) {
	.header {
		clip-path: polygon(0 0, 100% 0, 100% 45vh, 0 100%);
		height: 55vh;

		&--blog {
			clip-path: polygon(0 0, 100% 0, 100% 40vh, 0 100%);
			height: 45vh;
		}

		&__text-box {
			width: 100%;
			padding: 1rem;

			> h1 {
				margin-bottom: 1.5rem;
			}
		}
	}
}
