body {
	font-family: 'Roboto', sans-serif;
	font-weight: $medium-weight;
	line-height: 1.6;
	color: $default-font-color;
}

.heading-primary {
	font-size: 6rem;
	color: $color-white;
	font-weight: $light-weight;

	&__main {
		letter-spacing: 0.75rem;
	}
	&__sub {
		display: block;
		font-size: 2rem;
		letter-spacing: 1rem;
	}
	@include respond(phone) {
		font-size: 3.5rem;
	}
}
.heading-secondary {
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: $light-weight;
	display: block;
	max-width: 20rem;
	margin-bottom: $default-margin-bottom;
	&::after {
		content: '';
		display: block;
		border-bottom: 3px solid $default-font-color;
		transform: scaleX(0.8);
	}
	&--light {
		color: $color-white;
		&::after {
			content: '';
			display: block;
			border-bottom: 3px solid $color-white;
			transform: scaleX(0.8);
		}
	}
}

.heading-tertiary {
	font-size: 2.5rem;
	font-weight: $light-weight;
	@include respond(phone) {
		font-size: 2rem;
	}
}

h2 {
	font-size: 3rem;
	font-weight: $medium-weight;
	display: block;
	margin-top: $default-margin-top;
	margin-bottom: $default-margin-bottom;
	line-height: 140%;

	@include respond(tab-port) {
		font-size: 2.5rem;
	}
}

.paragraph,
p {
	font-size: $default-font-size;
	&:not(last-child) {
		margin-bottom: $default-margin-bottom;
	}
}

.breadcrumb {
	margin-bottom: 2rem;
	text-align: center;
	&__link {
		&:link,
		&:visited {
			color: $color-primary;
		}
		&:hover,
		&:active {
			color: $color-secondary-dark2;
		}
	}
}

a {
	&:link,
	&:visited {
		color: $color-primary;
	}
	&:hover,
	&:active {
		color: $color-secondary-dark2;
	}
}

.highlight {
	color: $color-primary;
}
