.u-center-text {
	text-align: center !important;
}

.u-center-margin {
	margin: 0 auto;
}

.u-padding-sml {
	padding: 1rem;
}

.u-margin-bottom-none {
	margin-bottom: 0 !important;
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
	margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
	margin-bottom: 8rem !important;
}

.u-margin-bottom-huge {
	margin-bottom: 10rem !important;
}

.u-margin-top-huge {
	margin-top: 10rem !important;
}

.u-margin-top-big {
	margin-top: 8rem !important;
}

.text-white {
	color: $color-white;
}

.content {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
	p,
	h2,
	ul {
		max-width: 58rem;
	}
}

.hidden {
	display: none;
}
